.footer {
    background-color: $aqua;
    .footer-middle {
        text-align: center;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .nav-social {
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    img {
        width: 120px;
    }
}