.fresh-logo {
    img {
        position: absolute;
        max-width: 100%;
    }
    p {
        text-align: center;
        @media screen and (min-width:540px) {
            padding: 10px 120px;
        } 
    }
}

.carousel-img {
    width: 90%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    @media screen and (min-width:540px) {
        max-width: 360px;
    }
}