.nav-wrapper {
    background-color: transparent;
    font-family: $roboto;
    .corner-logo {
        max-height: 44px;
    }
    .corner-nav-link {
        color: $main-txt-color;
    }
    .nav-social {
        width: 16px;
    }
    .collapse-wrapper {
        max-width: 800px;
    }
    @media screen and (min-width: 992px) {
        background-color: $beige;
    }
}

.corner-hero {
    background-image: url('../assets/cafe-header.jpg');
    height: 700px;
}
