#map {
    min-height: 300px;
}

#location {
    padding-bottom: 70px;
}
.icon {
    text-align: right;
}

.location-title {
    text-align: center;
}

.address-text {
    // padding: 32px 0px 32px 64px;
    .break {
        padding-left: 44px;
    }

    a {
        color: $main-txt-color;
        &:hover {
            text-decoration: none;
        }
    }
}