.menu-right {
    text-align: right;
    padding-bottom: 16px;
}
.menu-left {
    padding-top: 24px;
}
.menu-link {
    color: $main-txt-color;
    text-decoration: underline;
    font-size: 30px;
    &:hover {
        color: $main-txt-color;
    }
}

.menu-content {
    text-align: center;
    .menu-image {
        max-width: 310px;
    }
    
    .menu-text {
        position: absolute;
        font-size: 11em;
        top: 15%;
        left: 0;
        right: 0;
        margin: auto;
        color: $aqua;
        @media screen and (min-width: 576px) {
            font-size: 15em;
            top: -5%;
            left:-10%;
        }
    }
}
