.menu-right {
    text-align: right;
    padding-bottom: 16px;
}
.menu-left {
    padding-top: 24px;
}
.menu-link {
    color: $main-txt-color;
    text-decoration: underline;
    font-size: 30px;
    &:hover {
        color: $main-txt-color;
    }
}

.menu-content {
    text-align: center;
    .menu-image {
        width: 100%;
        @media (min-width: 576px) {
            max-width: 310px;
            width: auto;
        }
    }
    
    .menu-text {
        font-size: 8em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: $aqua;
        @media screen and (min-width: 576px) {
            font-size: 11em;
            top: -5%;
        }
        @media screen and (min-width: 991px) {
            left:-14%;
            font-size: 15em;
        }        
    }
}
