.scroll-content {
    text-align: center;
    .scroll-icon {
        margin-top: -65px;
        margin-bottom: 32px;
        cursor: pointer;
        transition: all ease-in-out 300ms;
    }
    .scroll-icon:hover {
        transform: scale(0.9);
    }
}