.scroll-content {
    text-align: center;
    .scroll-icon {
        max-width: 100px;
        margin-top: -82px;
        margin-bottom: 32px;
        cursor: pointer;
        transition: all ease-in-out 300ms;
        @media screen and (min-width: 540px) {
            margin-top: -94px;
            max-width: 100%;
        }
    }
    .scroll-icon:hover {
        transform: scale(0.95);
    }
}